<div class="flex min-h-screen w-full items-center justify-center p-4">
  <hlm-card class="w-full max-w-sm">
    <hlm-card-header>
      <h3 hlmCardTitle class="text-center text-2xl">Register to Divum</h3>
      <p hlmCardDescription class="text-center">Let's explore a better world together.</p>
    </hlm-card-header>
    <div hlmCardContent>
      <form [formRoot]="form" id="form-login">
        <hlm-field-group>
          <hlm-field>
            <label hlmFieldLabel for="username">Username</label>
            <input
              id="username"
              type="text"
              hlmInput
              placeholder="John Doe"
              [formField]="form.username"
            />

            @for (error of form.username().errors(); track error) {
              <hlm-field-error [validator]="error.kind">
                {{ error.message }}
              </hlm-field-error>
            }
          </hlm-field>

          <hlm-field>
            <label hlmFieldLabel for="email">Email</label>
            <input
              id="email"
              type="email"
              hlmInput
              placeholder="john.doe@mail.com"
              [formField]="form.email"
            />

            @for (error of form.email().errors(); track error) {
              <hlm-field-error [validator]="error.kind">
                {{ error.message }}
              </hlm-field-error>
            }
          </hlm-field>

          <hlm-field>
            <label hlmFieldLabel for="password">Password</label>
            <input
              id="password"
              type="password"
              hlmInput
              placeholder="••••••••"
              autoComplete="current-password"
              [formField]="form.password"
            />

            @for (error of form.password().errors(); track error) {
              <hlm-field-error [validator]="error.kind">
                {{ error.message }}
              </hlm-field-error>
            }
          </hlm-field>

          <hlm-field>
            <label hlmFieldLabel for="passwordConfirm">Password confirmation</label>
            <input
              id="passwordConfirm"
              type="password"
              hlmInput
              placeholder="••••••••"
              autoComplete="current-password"
              [formField]="form.passwordConfirm"
            />

            @for (error of form.passwordConfirm().errors(); track error) {
              <hlm-field-error [validator]="error.kind">
                {{ error.message }}
              </hlm-field-error>
            }
          </hlm-field>
        </hlm-field-group>
      </form>
    </div>
    <hlm-card-footer>
      <div class="flex flex-row items-center gap-4 w-full">

        <button hlmBtn type="submit" form="form-login" [disabled]="isLoading()">
          Sign up
        </button>

        <p class="text-sm text-muted-foreground">
          Already have an account?
          <a routerLink="/login" class="text-foreground font-medium hover:underline ml-1">
            Sign in
          </a>
        </p>

      </div>
    </hlm-card-footer>
  </hlm-card>
</div>
